 .formControl.error textarea,
 .formControl.error input{
     border: solid 2px red;
 }

 .formControl span{
     color: red;
     font-weight: 500;
 }

 .formSummaryError{
     border: solid 2px red;
     color: red;
     padding: 10px;
 }